.Body {
    padding: 8%;
    background-color: var(--dark-background-color);
}
.header {
    padding-bottom: 20px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.buttons {
    display: flex;
    margin-top: 40px;
    text-align: center;
}

.button {
    margin-right: 10px;
    text-align: center;
}
/* .btn-filled, .btn-outline {
    padding: 8px 25px;
} */
.btn-outline {
    background: none;
    color: var(--btn-outline-color);
    border: 2px solid #1799CA;
    border-radius: 10px;    
    text-align: center;
    /* align-items: center; */
    display: flex;
}

.hero-img {
    width: 500px;
    height: auto;
    animation: fade-in linear;
    animation-duration: 4s;
    animation-timeline: view(600px 10px);
}

/********** FIRST SECTION **********/
.first-section{
    display: flex;
    background-image: url("icons/hero_bottom_wave.svg");
    background-repeat: no-repeat;
    height: 500px;
    background-position: bottom;
    margin: 80px 0;
}

.first-section div {
    text-align: center;
    padding: 10px 20px;
}

.first-section div p {
    color: var(--text-color);
}

/********** SECOND SECTION **********/
.second-section{
    margin: 80px 0;
    overflow: hidden;
}
.heading{
    text-align: center;
    padding-bottom: 70px;
}

.fancy-heading {
    background-image: var(--button-color);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: fade-in linear;
    animation-duration: 4s;
    animation-timeline: view(50px);
}

#anim {
    animation: fade-in linear;
    animation-duration: 4s;
    animation-timeline: view(50px);
}

@keyframes fade-in {
    from {opacity: .3; scale: .8;}
    to {opacity: 1; scale: 1;}
}

.nfts {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    overflow: hidden;
}
.nfts:hover .nft {
    animation-play-state: paused;
}
.nft {
    display: flex;
    align-items: center;
    animation: 30s slide infinite linear;
}

@keyframes slide {
    0% {
      transform: translateX(100%);
    }
    50%  {
      transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}  

.card {
    padding: 20px;
    margin: 0 30px;
    border: 1px solid var(--header-text-color);
    border-radius: 20px;
}

.card > img {
    padding-bottom: 20px;
    width: 350px;
}

.nft > .text {
    width: 500px;
    padding: 0 50px;
}
.card div {
    padding: 5px 0;
}
.card-text {
    display: flex;
    align-items: center;
}
.card-text div {
    padding: 10px;
}
.card-text div p:first-of-type {
    font-size: 1.5em;
    color: var(--btn-outline-color);
}
.card-text div p:last-of-type {
    font-size: 0.8em;
}
.text {
    color: var(--text-color);
    padding-left: 10px;
}

.avatar {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.bid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ada-icon {
    display: flex;
}
.ada-icon div p:first-of-type, .bid p {
    font-size: 1.5em;
}
.ada-icon div p:last-of-type {
    font-size: 0.8em;
}


/********** THIRD SECTION **********/
.third-section {
    margin: 80px 0;
}

.third-section h2 {
    text-align: center;
}

small {
    font-size: 20px;
    align-items: center;
}
.nft-col-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.nft-col {
    display: flex;
    width: 350px;
    border-bottom: 1px solid var(--dark-nav-color);
    margin: 12px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    padding: 15px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list:hover {
    background-color: var(--hover-background);
}

.content {
    font-size: 0.8em;
}

.list-img-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 35px;
}

.list-img-text > img {
    padding-right: 10px;
}

.ada {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

/********** FOURTH SECTION  *********/
.fourth-section {
    margin: 80px 0;
}

.col-spot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ind-col-spot {
    margin: 15px;
    background-color: var(--dark-background-overlay);
    border-radius: 20px;
    padding: 15px;
}

.ind-col-spot >img:hover {
    /* width: 80%; */
    transform: scale(0.9);
    transition: 0.5s ease-in-out;
}

.content-1, .content-2 {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.content-1 > .text {
    font-size: 1.3em;
    padding-left: 0;
    padding-right: 10px;
}

.fourth-section > a {
    width: fit-content;
    align-items: center;
    margin: 30px auto;
}
.fourth-section > a:hover {
    transform: translateY(-3px);   
    transition: 1s ease-in-out;
}

/************** FIFTH SECTION ****************/
.fifth-section {
    margin: 80px 0;
    text-align: center;
}
.fifth-section > h2 {
    animation: slide-in linear;
    animation-duration: 10s;
    animation-timeline: view(500px 10px);
}

@keyframes slide-in {
    from {opacity: 0; transform: translateY(-300px);}
    to {opacity: 1; transform: translateY(0);}
}
.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
    animation: fade-in linear;
    animation-duration: 5s;
    animation-timeline: view(600px 10px);
}
@keyframes fade-in {
    from {opacity: 0; transform: translateY(300px);}
    to {opacity: 1; transform: translateY(0);}
}

.ind-step {
    text-align: center;
    width: 345px;
    margin: 15px;
}

.ind-step > img {
    margin-bottom: 25px;
}

.ind-step > h2 {
    font-size: 25px;
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 35px;
    }
    .header {
        flex-wrap: wrap;
    }    
    .hero-img {
        width: 100%;
    }
    .buttons {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .button {
        width: 100%;
        margin: 5px 0;
        text-align: center;
    }
    .btn-outline {
        display: block;
        /* width: 100%; */
    }
    .first-section {
        justify-content: space-between;
        padding: 0;
        width: 100%;
        height: 300px;
    }
    .first-section > div > h2{
        font-size: 25px;
    }
    .first-section > div > p {
        font-size: small;
    }
    .heading > .fancy-heading {
        margin-bottom: 60px;
    }
    .heading {
        margin: 80px 0;
    }
    .nft {
        flex-wrap: wrap;
        width: 80%;
    }
    .card > img {
        width: 80%;
    }

    .fourth-section > h2 {
        text-align: center;
    }
}

