@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 55px;
  line-height: 1.2;
  color: var(--text-color);
}

h2 {
  font-size: 40px;
  color: var(--text-color);
}
p{
  color: var(--paragraph-text);
}
span {
  color: var(--header-text-color);
}

h4 {
  color: var(--text-color);
}
